body{
    margin:0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #e2ba95;
}
#cabecera>img{
    height: 350px;
    position: relative;
    left:150px;
}
#menu{
    position: relative;
    vertical-align: center;
    background-color: rgb(138, 84, 84);
    padding: 40px;
}
#opciones{
    display: inline;
    position: absolute;
    bottom: 15px;
    right: 40px;
    top: 5px;
    padding: 20px;
}
#opciones>a{
    padding-right: 20px;
    color: rgb(255, 255, 255);
    font-weight:  bolder;
    font-size: 1.8rem;
}   
#opciones>a:hover{
    color: #d1b59b;
}
.CA>img{
    height: 400px;
    margin-right: 10px;
    border-radius: 20px;
}

.CA{
    margin-left: 40px;
    margin-top: 50px;
    position: relative;
    margin-right: 20px;

}
.CA>p{
display: inline;
position: absolute;

bottom:50px;
}.CA>span{
    position: absolute;
    bottom: 30px;
    left: 40px;
    background-color: rgb(241, 169, 73);
    display: inline-block;
    padding: 15px;
    border-radius: 20px;
    font-weight: 900px;
    }
#redes img{
    height: 30px;
    width: 30px;
}
#redes{
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
a{
    text-decoration: none;
}

#cabecera{
    background-color: #ffffff;
    padding: 100px;
    position: static;
    color: rgb(138, 44, 16);
    /* right: 80px; */
}
#m{
    background-color: #d1b59b;
    position: sticky;
    top: 35px;
    text-align: end;
}
#cabecera>h1{
font-size: 4rem;
 margin-bottom: 10px;
 text-decoration: none;
}
#cabecera>h4{
font-size: 1.5rem;
margin-bottom: 5px;
}
footer{
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
}